.mm-menu.mm-right{
    left:auto;
    right: 0;
}
.mm-menu .mm-offcanvas {
    display: none;
    position: fixed;
}
.lstMn {
    display:none;
}
.mm-menu {
    width: 80%;
    min-width: 140px;
    max-width: 440px;
    background: #f3f3f3;
    color: #000000;
    overflow: hidden;
    padding: 0;
}
.mm-menu> .mm-panel .mm-hasnavbar {
    padding-top: 40px;
}
.mm-menu > .mm-panel {
    background: inherit;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 20px;
}
.mm-panel.mm-hasnavbar .mm-navbar {
    display: block;
}
.mm-menu .mm-navbar {
    border-color: rgba(0, 0, 0, 0.1);
}
.mm-navbar {
    border-bottom: 1px solid transparent;
    text-align: center;
    line-height: 20px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}